@import url(./variable.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

.doc-container {
  padding-bottom: 40px;
  color: var(--tant-text-gray-color-text1-3);
  background-color: var(--tant-bg-white-color-bg1-1);
}

.table-content-wrapper {
  position: absolute;
  right: 14;
  top: 80;
  background-color: var(--tant-bg-white-color-bg1-1);
}

.doc-container h1 {
  font: var(--tant-header-font-header1-medium);
  color: var(--tant-text-gray-color-text1-1);
  margin-bottom: 24px;
}

.doc-container h2 {
  font: var(--tant-header-font-header3-medium);
  color: var(--tant-text-gray-color-text1-2);
  margin-bottom: 48px;
}

.doc-container h3 {
  font: var(--tant-header-font-header4-medium);
  color: var(--tant-text-gray-color-text1-2);
}

.doc-container h4 {
  font: var(--tant-header-font-header5-medium);
  color: var(--tant-text-gray-color-text1-2);
  margin-bottom: 16px;
}

.doc-container h2 + p {
  font: var(--tant-header-font-header5-regular);
  color: var(--tant-text-gray-color-text1-3);
  margin-top: -32px;
  margin-bottom: 48px;
}

.doc-container p {
  font: var(--tant-body-font-body-regular);
  color: var(--tant-text-gray-color-text1-3);
}

.doc-container .doc-section-wrapper {
  border-bottom: 1px solid var(--tant-border-color-border1-1);
}

.doc-container .doc-section-wrapper:last-child {
  border-bottom: none;
}

.doc-container .doc-section {
  margin: auto;
  padding: 64px 0;
}

.doc-container .doc-header {
  padding-bottom: 48px;
}

.doc-container .doc-header p {
  font-size: 20px;
}

.doc-section .component-showcase {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 48px;
}

.doc-section .component-showcase.bordered {
  border: 1px solid var(--tant-border-color-border1-1);
}

.doc-section .component-showcase-half {
  width: 50%;
  border-radius: 10px;
}

.doc-section .full-width-text {
  width: 75%;
  padding-bottom: 24px 0;
  font: var(--tant-header-font-header5-regular);
}


/* Breakdown Section */
.doc-section .breakdown-item {
  display: flex;
  align-items: start;
  margin-bottom: 12px;
  font: var(--tant-body-font-body-regular);
}

.doc-section .breakdown-item .breakdown-item-header {
  display: flex;
  align-items: center;
  margin-right: 12px;
  color: var(--tant-decorative-purple-color-decorative4-1);
}

.doc-section .breakdown-item .breakdown-item-dot {
  border-radius: 100%;
  background: var(--tant-decorative-purple-color-decorative4-1);
  width: 16px;
  height: 16px;
  text-align: center;
  margin-right: 4px;
  color: var(--tant-white-white-100);
  font: var(--tant-description-font-description-regular);
  line-height: 16px;
}

.doc-section .breakdown-item .breakdown-item-name {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.doc-section .breakdown-item .breakdown-item-value {
  flex: 1 1 0%;
}


/* Compo Type Section */
.doc-section .type-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.doc-section .type-list .type-list-item{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.doc-section .type-list .type-list-item.col {
  flex-direction: column;
  gap: 20px
}

.doc-section .type-list .type-list-item.col-reversed {
  flex-direction: column-reverse;
  gap: 20px
}

.doc-section .type-list .type-list-item.row {
  flex-direction: row;
  gap: 40px
}

.doc-section .type-list .type-list-item .type-item-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.doc-section .type-list .type-list-item .type-item-content.full {
  width: max-content;
}

.doc-section .type-list .type-list-item .type-item-content.half {
  width: 50%;
}

.doc-section .type-list .type-list-item .type-item-content .content-header {
  display: flex;
  gap: 16px;
  flex-flow: row wrap;
}

.doc-section .type-list .type-list-item .type-item-content .content-header p {
  font: var(--tant-header-font-header4-medium);
  font-weight: 400;
  color: var(--tant-text-gray-color-text1-3);
}

.doc-section .type-list .content-desc {
  font: var(--tant-body-font-body-regular);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.doc-section .type-list .content-desc:has(.bullet) {
  padding-left: 16px;
}

.doc-section .type-list .content-desc .bullet {
  list-style-type: disc;
}

/* Principle Section */
.doc-section .type-list .principle-row {
  display: flex;
  gap: 40px;
  align-items: start;
}

.doc-section .type-list .principle-row .principle-item {
  display: flex;
  flex-direction: column;
  width: auto;
}

.doc-section .type-list .principle-row .principle-item.half {
  width: 50%;
}

.doc-section .type-list .principle-row .principle-item img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 32px;
}
.doc-section .type-list .principle-row .principle-item .principle-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.doc-section .type-list .principle-row .principle-item .principle-item-content .principle-dot {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 10px;
  color: var(--tant-white-white-100);
  font: var(--tant-body-font-body-regular);
  line-height: 20px;
}

.doc-section .type-list .principle-row .principle-item .principle-item-content .principle-dot.green {
  background-color: var(--tant-status-success-color-success-default);
}

.doc-section .type-list .principle-row .principle-item .principle-item-content .principle-dot.red {
  background-color: var(--tant-status-danger-color-danger-default);
}

.doc-section .type-list .principle-row .principle-item .principle-item-content .principle-dot.orange {
  background-color: var(--tant-status-warning-color-warning-default);
}

.doc-section .type-list .principle-row .principle-item .principle-item-content .principle-dot-desc.green {
  color: var(--tant-status-success-color-success-default);
}

.doc-section .type-list .principle-row .principle-item .principle-item-content .principle-dot-desc.red {
  color: var(--tant-status-danger-color-danger-default);
}

.doc-section .type-list .principle-row .principle-item .principle-item-content .principle-dot-desc.orange {
  color: var(--tant-status-warning-color-warning-default);
}

.doc-section .pattern-header {
  font: var(--tant-header-font-header4-medium);
  color: var(--tant-text-gray-color-text1-2);
  margin-bottom: 20px;
}