html[data-theme='dark'],
html[data-prefers-color='dark'],
.doc-page[data-mode='dark'] {
  --tant-token-set-order-0: global;
  --tant-token-set-order-1: ta;
  --tant-primary-color-primary-default: #1e76f0;
  --tant-primary-color-primary-hover: #3583ef;
  --tant-primary-color-primary-active: #185ec0;
  --tant-primary-color-primary-disable: #99b4f3;
  --tant-primary-color-primary-fill: #1e76f033;
  --tant-primary-color-primary-fill-hover: #1e76f04d;
  --tant-primary-color-primary-fill-active: #1e76f01a;
  --tant-secondary-color-secondary-default: #d4d5e1;
  --tant-secondary-color-secondary-hover: #9fa0ac;
  --tant-secondary-color-secondary-active: #fff;
  --tant-secondary-color-secondary-disable: #6b6c77;
  --tant-secondary-color-secondary-fill: #2f303b;
  --tant-secondary-color-secondary-fill-hover: #2b2b39;
  --tant-secondary-color-secondary-fill-active: #36384f;
  --tant-secondary-color-secondary-transp-fill: #b9becf4d;
  --tant-secondary-color-secondary-transp-hover: #b9becf33;
  --tant-secondary-color-secondary-transp-active: #b9becf80;
  --tant-text-gray-color-text1-1: #eeeffc;
  --tant-text-gray-color-text1-2: #d2d3e0;
  --tant-text-gray-color-text1-3: #9c9eac;
  --tant-text-gray-color-text1-4: #5f606e;
  --tant-text-white-color-text2-1: #161616;
  --tant-text-white-color-text2-2: #686872;
  --tant-text-white-color-text2-3: #7e7f80;
  --tant-text-white-color-text2-4: #bdbebf;
  --tant-bg-white-color-bg1-1: #21212d;
  --tant-bg-gray-color-bg2-1: #1a1924;
  --tant-fill-color-fill1-1: #2c2c3a;
  --tant-fill-color-fill1-2: #272735;
  --tant-fill-color-fill2-1: #ffffff80;
  --tant-fill-deep-color-fill3-1: #f6f6fa;
  --tant-fill-deep-color-fill3-2: #333;
  --tant-fill-deep-color-fill3-3: #545455;
  --tant-border-color-border1-1: #323346;
  --tant-border-color-border1-2: #4b4d6a;
  --tant-border-radius-small: 2px;
  --tant-border-radius-medium: 4px;
  --tant-border-radius-large: 6px;
  --tant-border-radius-full: 9999px;
  --tant-small-shadow-small-bottom: 0 0 2px 0 var(--tant-border-color-border1-2),
    0 4px 14px 0 #00000040, 0 10px 20px 0 #00000040, 0 14px 24px 0 #00000040;
  --tant-small-shadow-small-overall: 0 0 1px 0 var(--tant-border-color-border1-2),
    0 0 14px 0 #00000040, 0 4px 20px 0 #00000040, 0 8px 24px 0 #00000040;
  --tant-small-shadow-small-top: 0 0 1px 0 var(--tant-border-color-border1-2),
    0 -4px 14px 0 #00000040, 0 -10px 20px 0 #00000040, 0 -14px 24px 0 #00000040;
  --tant-small-shadow-small-left: 0 0 1px 0 var(--tant-border-color-border1-2),
    -4px 0 14px 0 #00000040, -10px 0 20px 0 #00000040, -14px 0 24px 0 #00000040;
  --tant-small-shadow-small-right: 0 0 1px 0 var(--tant-border-color-border1-2),
    4px 0 14px 0 #00000040, 10px 0 20px 0 #00000040, 14px 0 24px 0 #00000040;
  --tant-shadow-color-shadow1-1: #0a1032;
  --tant-mask-color-mask-1: #000000b3;
  --tant-status-success-color-success-default: #129b76;
  --tant-status-success-color-success-hover: #16c294;
  --tant-status-success-color-success-active: #0d7459;
  --tant-status-success-color-success-disable: #9adac1;
  --tant-status-success-color-success-fill: #129b7640;
  --tant-status-success-color-success-fill-hover: #129b764d;
  --tant-status-success-color-success-fill-active: #129b761a;
  --tant-status-warning-color-warning-default: #f27e19;
  --tant-status-warning-color-warning-hover: #f1913d;
  --tant-status-warning-color-warning-active: #c26514;
  --tant-status-warning-color-warning-disable: #f7b79a;
  --tant-status-warning-color-warning-fill: #f27e1940;
  --tant-status-warning-color-warning-fill-hover: #f27e194d;
  --tant-status-warning-color-warning-fill-active: #f27e191a;
  --tant-status-danger-color-danger-default: #e84d37;
  --tant-status-danger-color-danger-hover: #eb614d;
  --tant-status-danger-color-danger-active: #ba3e2c;
  --tant-status-danger-color-danger-disable: #f1a59f;
  --tant-status-danger-color-danger-fill: #e84d3740;
  --tant-status-danger-color-danger-fill-hover: #e84d3759;
  --tant-status-danger-color-danger-fill-active: #e84d3773;
  --tant-status-info-color-info-default: #1e76f0;
  --tant-status-info-color-info-hover: #3583ef;
  --tant-status-info-color-info-active: #185ec0;
  --tant-status-info-color-info-disable: #99b4f3;
  --tant-status-info-color-info-fill: #1e76f040;
  --tant-status-info-color-info-fill-hover: #1e75f06c;
  --tant-status-info-color-info-fill-active: #1e75f050;
  --tant-status-invalid-color-invalid-default: #9c9eac;
  --tant-status-invalid-color-invalid-hover: #50515c;
  --tant-status-invalid-color-invalid-active: #282a34;
  --tant-status-invalid-color-invalid-disable: #21232d;
  --tant-status-invalid-color-invalid-fill: #9fa0ac;
  --tant-status-invalid-color-invalid-fill-hover: #d4d5e1;
  --tant-status-invalid-color-invalid-fill-active: #858691;
  --tant-medium-shadow-medium-bottom: 0 0 2px 0 var(--tant-border-color-border1-2),
    0 14px 20px 0 #00000040, 0 20px 40px 0 #00000040, 0 40px 60px 0 #00000040;
  --tant-medium-shadow-medium-overall: 0 0 2px 0 var(--tant-border-color-border1-2),
    0 0 20px 0 #00000040, 0 14px 40px 0 #00000040, 0 20px 60px 0 #00000040;
  --tant-medium-shadow-medium-top: 0 0 2px 0 var(--tant-border-color-border1-2),
    0 -14px 20px 0 #00000040, 0 -20px 40px 0 #00000040, 0 -40px 60px 0 #00000040;
  --tant-medium-shadow-medium-left: 0 0 2px 0 var(--tant-border-color-border1-2),
    -14px 0 20px 0 #00000040, -20px 0 40px 0 #00000040, -40px 0 60px 0 #00000040;
  --tant-medium-shadow-medium-right: 0 0 2px 0 var(--tant-border-color-border1-2),
    14px 0 20px 0 #00000040, 20px 0 40px 0 #00000040, 40px 0 60px 0 #00000040;
  --tant-large-shadow-large-bottom: 0 0 2px 0 var(--tant-border-color-border1-2),
    0 20px 50px 0 #00000040, 0 30px 90px 0 #00000040, 0 40px 130px 0 #00000040;
  --tant-large-shadow-large-overall: 0 0 2px 0 var(--tant-border-color-border1-2),
    0 0 50px 0 #00000040, 0 20px 90px 0 #00000040, 0 30px 130px 0 #00000040;
  --tant-large-shadow-large-top: 0 0 2px 0 var(--tant-border-color-border1-2),
    0 -20px 50px 0 #00000040, 0 -30px 90px 0 #00000040, 0 -40px 130px 0 #00000040;
  --tant-large-shadow-large-left: 0 0 2px 0 var(--tant-border-color-border1-2),
    -20px 0 50px 0 #00000040, -30px 0 90px 0 #00000040, -40px 0 130px 0 #00000040;
  --tant-large-shadow-large-right: 0 0 2px 0 var(--tant-border-color-border1-2),
    20px 0 50px 0 #00000040, 30px 0 90px 0 #00000040, 40px 0 130px 0 #00000040;
  --tant-hanzi: pingfang sc, 'TA-SourceHanSansSC';
  --tant-letter: helvetica neue;
  --tant-number: helvetica neue;
  --tant-font-size-small: 12px;
  --tant-font-size-regular: 14px;
  --tant-font-size-header4: 16px;
  --tant-font-size-header3: 20px;
  --tant-font-size-header2: 28px;
  --tant-font-size-header1: 38px;
  --tant-body-font-body-regular: 400 14px/22px pingfang sc, 'TA-SourceHanSansSC';
  --tant-body-font-body-medium: 500 14px/22px pingfang sc, 'TA-SourceHanSansSC';
  --tant-description-font-description-regular: 400 12px/20px pingfang sc, 'TA-SourceHanSansSC';
  --tant-description-font-description-medium: 500 12px/20px pingfang sc, 'TA-SourceHanSansSC';
  --tant-header-font-header5-medium: 500 16px/24px pingfang sc, 'TA-SourceHanSansSC';
  --tant-header-font-header5-regular: 400 16px/24px pingfang sc, 'TA-SourceHanSansSC';
  --tant-header-font-header4-medium: 500 20px/30px pingfang sc, 'TA-SourceHanSansSC';
  --tant-header-font-header3-medium: 500 24px/36px pingfang sc, 'TA-SourceHanSansSC';
  --tant-header-font-header2-medium: 500 28px/38px pingfang sc, 'TA-SourceHanSansSC';
  --tant-header-font-header1-medium: 500 38px/58px pingfang sc, 'TA-SourceHanSansSC';
  --tant-disabled-color-disabled-text: #5f606e;
  --tant-disabled-color-disabled-border: #2c2d3b;
  --tant-disabled-color-disabled-bg: #ffffff1a;
  --tant-disabled-color-disabled-fill: #282a34;
  --tant-input-shadow-active-overall: 3px -3px 0 0 #193c71, -3px 3px 0 0 #193c71,
    -3px -3px 0 0 #193c71, 3px 3px 0 0 #193c71;
  --tant-input-shadow-error-active-overall: 3px 3px 0 0 #692c27, -3px -3px 0 0 #692c27,
    -3px 3px 0 0 #692c27, 3px -3px 0 0 #692c27;
  --tant-decorative-blue-color-decorative1-1: #1e76f0;
  --tant-decorative-blue-color-decorative1-2: #3583ef;
  --tant-decorative-blue-color-decorative1-3: #99b4f3;
  --tant-decorative-blue-color-decorative1-4: #eaeefd;
  --tant-decorative-orange-color-decorative2-1: #f27e19;
  --tant-decorative-orange-color-decorative2-2: #f1913d;
  --tant-decorative-orange-color-decorative2-3: #f7b79a;
  --tant-decorative-orange-color-decorative2-4: #fdefea;
  --tant-decorative-orange-color-decorative2-5: #e0a571;
  --tant-decorative-cyen-color-decorative3-1: #14c9d6;
  --tant-decorative-cyen-color-decorative3-2: #34cfda;
  --tant-decorative-cyen-color-decorative3-3: #9adee6;
  --tant-decorative-cyen-color-decorative3-4: #eaf7f9;
  --tant-decorative-purple-color-decorative4-1: #915aff;
  --tant-decorative-purple-color-decorative4-2: #915aff99;
  --tant-decorative-purple-color-decorative4-3: #915aff66;
  --tant-decorative-purple-color-decorative4-4: #915aff1a;
  --tant-decorative-purple-color-decorative4-5: #3a2466;
  --tant-decorative-dblue-color-decorative5-1: #0a1032;
  --tant-decorative-dblue-color-decorative5-2: #b9becf;
  --tant-decorative-yellow-color-decorative6-1: #f5b400;
  --tant-decorative-yellow-color-decorative6-2: #f5b40099;
  --tant-decorative-yellow-color-decorative6-3: #f5b40066;
  --tant-decorative-yellow-color-decorative6-4: #f5b4001a;
  --tant-data-v-multiple1-color-data-multiple1-1: #217dff;
  --tant-data-v-multiple1-color-data-multiple1-2: #f99239;
  --tant-data-v-multiple1-color-data-multiple1-3: #374bcd;
  --tant-data-v-multiple1-color-data-multiple1-4: #66d8e2;
  --tant-data-v-multiple1-color-data-multiple1-5: #ffbc04;
  --tant-data-v-multiple1-color-data-multiple1-6: #40aeff;
  --tant-data-v-multiple1-color-data-multiple1-7: #0a8ca0;
  --tant-data-v-multiple1-color-data-multiple1-8: #ffb676;
  --tant-data-v-multiple1-color-data-multiple1-9: #ee6c59;
  --tant-data-v-multiple1-color-data-multiple1-10: #7856ff;
  --tant-data-v-multiple1-color-data-multiple1-11: #a37af5;
  --tant-data-v-multiple1-color-data-multiple1-12: #48c6a8;
  --tant-data-v-single1-color-data-single1-1: #217dff;
  --tant-data-v-function-color-data-function-line: #dee1eb;
  --tant-data-v-function-color-data-function-tick: #dee1eb;

  /* --tant-data-v-function-color-data-function-grid: #ebedf3; */
  --tant-data-v-function-color-data-function-grid: #2f303b;
  --tant-data-v-function-color-data-function-shadow: #0104181a;
  --tant-data-v-function-color-data-function-label2: #747c94;
  --tant-data-v-function-color-data-function-label1: #9095a9;
  --tant-data-v-function-color-data-function-legend: #202241;
  --tant-data-v-function-color-data-function-serie-label: #202241;
  --tant-data-v-function-color-data-function-axis-title: #fff;
  --tant-data-v-function-color-data-function-zero-axis: #a1a7bb;
  --tant-data-v-function-color-data-function-axis-pointer: #a1a7bb;
  --tant-motion-duration-micro-fast: 100ms;
  --tant-motion-duration-micro-moderate: 150ms;
  --tant-motion-duration-micro-slow: 200ms;
  --tant-motion-duration-macro-faster: 250ms;
  --tant-motion-duration-macro-moderate: 300ms;
  --tant-motion-duration-macro-slower: 350ms;
  --tant-motion-duration-extra-slowest: 800ms;
  --tant-motion-easing-standard-linear: 0, 0, 1, 1;
  --tant-motion-easing-standard-ease-in: 0, 0, 0, 1;
  --tant-motion-easing-standard-ease-out: 0.2, 0, 0.8, 0.5;
  --tant-motion-easing-standard-ease-in-out: 0.42, 0, 0.58, 1;
  --tant-motion-easing-emphasized-linear: 0.2, 0, 0, 1;
  --tant-motion-easing-emphasized-ease-in: 0.05, 0.7, 0.1, 1;
  --tant-motion-easing-emphasized-ease-out: 0.3, 0, 0.8, 0.15;
  --tant-motion-easing-emphasized-ease-in-out: 0.6, 0, 0.14, 1;
  --tant-blue-blue-10: #f8fafe;
  --tant-blue-blue-20: #eaeefd;
  --tant-blue-blue-30: #cdd8fa;
  --tant-blue-blue-40: #99b4f3;
  --tant-blue-blue-50: #3583ef;
  --tant-blue-blue-60: #1e76f0;
  --tant-blue-blue-70: #185ec0;
  --tant-blue-blue-80: #124790;
  --tant-blue-blue-90: #0c2f60;
  --tant-blue-blue-100: #061830;
  --tant-cyan-cyan-10: #f3fafb;
  --tant-cyan-cyan-20: #eaf7f9;
  --tant-cyan-cyan-30: #ccedf1;
  --tant-cyan-cyan-40: #9adee6;
  --tant-cyan-cyan-50: #34cfda;
  --tant-cyan-cyan-60: #14c9d6;
  --tant-cyan-cyan-70: #10a1ab;
  --tant-cyan-cyan-80: #0c7980;
  --tant-cyan-cyan-90: #085056;
  --tant-cyan-cyan-100: #04282b;
  --tant-orange-orange-10: #fdf6f4;
  --tant-orange-orange-20: #fdefea;
  --tant-orange-orange-30: #fadacd;
  --tant-orange-orange-40: #f7b79a;
  --tant-orange-orange-50: #f1913d;
  --tant-orange-orange-60: #f27e19;
  --tant-orange-orange-70: #c26514;
  --tant-orange-orange-80: #914c0f;
  --tant-orange-orange-90: #61320a;
  --tant-orange-orange-100: #301905;
  --tant-purple-purple-10: #f7f4ff;
  --tant-purple-purple-20: #f1ecff;
  --tant-purple-purple-30: #ded3ff;
  --tant-purple-purple-40: #c0a9ff;
  --tant-purple-purple-50: #9670fc;
  --tant-purple-purple-60: #915aff;
  --tant-purple-purple-70: #7448cc;
  --tant-purple-purple-80: #573699;
  --tant-purple-purple-90: #3a2466;
  --tant-purple-purple-100: #1d1233;
  --tant-green-green-10: #f4faf7;
  --tant-green-green-20: #e9f6f1;
  --tant-green-green-30: #ccebde;
  --tant-green-green-40: #9adac1;
  --tant-green-green-50: #28ca9f;
  --tant-green-green-60: #16c294;
  --tant-green-green-70: #129b76;
  --tant-green-green-80: #0d7459;
  --tant-green-green-90: #094e3b;
  --tant-green-green-100: #04271e;
  --tant-yellow-yellow-10: #fef9f4;
  --tant-yellow-yellow-20: #fdf4e9;
  --tant-yellow-yellow-30: #fbe7cc;
  --tant-yellow-yellow-40: #f9d299;
  --tant-yellow-yellow-50: #f2bf32;
  --tant-yellow-yellow-60: #f5b400;
  --tant-yellow-yellow-70: #c49000;
  --tant-yellow-yellow-80: #936c00;
  --tant-yellow-yellow-90: #624800;
  --tant-yellow-yellow-100: #312400;
  --tant-red-red-10: #fdf5f4;
  --tant-red-red-20: #fbebea;
  --tant-red-red-30: #f7d1cf;
  --tant-red-red-40: #f1a59f;
  --tant-red-red-50: #eb614d;
  --tant-red-red-60: #e84d37;
  --tant-red-red-70: #ba3e2c;
  --tant-red-red-80: #8b2e21;
  --tant-red-red-90: #5d1f16;
  --tant-red-red-100: #2e0f0b;
  --tant-dblue-dblue-5: #f9f9fb;
  --tant-dblue-dblue-10: #f6f6f9;
  --tant-dblue-dblue-15: #f2f3f8;
  --tant-dblue-dblue-20: #ebedf3;
  --tant-dblue-dblue-30: #dee1eb;
  --tant-dblue-dblue-40: #b9becf;
  --tant-dblue-dblue-50: #a1a7bb;
  --tant-dblue-dblue-60: #747c94;
  --tant-dblue-dblue-70: #464762;
  --tant-dblue-dblue-80: #202241;
  --tant-dblue-dblue-90: #0a1032;
  --tant-dblue-dblue-100: #000;
  --tant-white-white-10: #ffffff1a;
  --tant-white-white-20: #fff3;
  --tant-white-white-30: #ffffff4d;
  --tant-white-white-40: #fff6;
  --tant-white-white-50: #ffffff80;
  --tant-white-white-60: #fff9;
  --tant-white-white-70: #ffffffb3;
  --tant-white-white-80: #fffc;
  --tant-white-white-90: #ffffffe6;
  --tant-white-white-100: #fff;
}
