
:root {
    --tant-token-set-order-0: global;
    --tant-token-set-order-1: ta;
    --tant-primary-color-primary-default: #1E76F0;
    --tant-primary-color-primary-hover: #3583EF;
    --tant-primary-color-primary-active: #185EC0;
    --tant-primary-color-primary-disable: #99B4F3;
    --tant-primary-color-primary-fill: #EAEEFD;
    --tant-primary-color-primary-fill-hover: #F8FAFE;
    --tant-primary-color-primary-fill-active: #CDD8FA;
    --tant-secondary-color-secondary-default: #202241;
    --tant-secondary-color-secondary-hover: #747C94;
    --tant-secondary-color-secondary-active: #000;
    --tant-secondary-color-secondary-disable: #B9BECF;
    --tant-secondary-color-secondary-fill: #F2F3F8;
    --tant-secondary-color-secondary-fill-hover: #F6F6F9;
    --tant-secondary-color-secondary-fill-active: #EBEDF3;
    --tant-secondary-color-secondary-transp-fill: #b9becf4d;
    --tant-secondary-color-secondary-transp-hover: #b9becf33;
    --tant-secondary-color-secondary-transp-active: #b9becf80;
    --tant-text-gray-color-text1-1: #212121;
    --tant-text-gray-color-text1-2: #333;
    --tant-text-gray-color-text1-3: #7E7F80;
    --tant-text-gray-color-text1-4: #BDBEBF;
    --tant-text-white-color-text2-1: #fff;
    --tant-text-white-color-text2-2: #ffffffb3;
    --tant-text-white-color-text2-3: #ffffff80;
    --tant-text-white-color-text2-4: #fff6;
    --tant-bg-white-color-bg1-1: #fff;
    --tant-bg-gray-color-bg2-1: #F3F3F5;
    --tant-fill-color-fill1-1: #F6F6F9;
    --tant-fill-color-fill1-2: #F9F9FB;
    --tant-fill-color-fill2-1: #ffffff80;
    --tant-fill-deep-color-fill3-1: #212121;
    --tant-fill-deep-color-fill3-2: #333;
    --tant-fill-deep-color-fill3-3: #545455;
    --tant-border-color-border1-1: #E3E4E5;
    --tant-border-color-border1-2: #D2D2D4;
    --tant-border-radius-small: 2px;
    --tant-border-radius-medium: 4px;
    --tant-border-radius-large: 6px;
    --tant-border-radius-full: 9999px;
    --tant-small-shadow-small-bottom: 0 4px 14px 0 #0a103205,0 10px 20px 0 #0a103208,0 14px 24px 0 #0a10320d;
    --tant-small-shadow-small-overall: 0 0 14px 0 #0a103205,0 4px 20px 0 #0a103208,0 8px 24px 0 #0a10320d;
    --tant-small-shadow-small-top: 0 -4px 14px 0 #0a103205,0 -10px 20px 0 #0a103208,0 -14px 24px 0 #0a10320d;
    --tant-small-shadow-small-left: -4px 0 14px 0 #0a103205,-10px 0 20px 0 #0a103208,-14px 0 24px 0 #0a10320d;
    --tant-small-shadow-small-right: 4px 0 14px 0 #0a103205,10px 0 20px 0 #0a103208,14px 0 24px 0 #0a10320d;
    --tant-shadow-color-shadow1-1: #0A1032;
    --tant-mask-color-mask-1: #0003;
    --tant-status-success-color-success-default: #129B76;
    --tant-status-success-color-success-hover: #16C294;
    --tant-status-success-color-success-active: #0D7459;
    --tant-status-success-color-success-disable: #9ADAC1;
    --tant-status-success-color-success-fill: #E9F6F1;
    --tant-status-success-color-success-fill-hover: #F4FAF7;
    --tant-status-success-color-success-fill-active: #CCEBDE;
    --tant-status-warning-color-warning-default: #F27E19;
    --tant-status-warning-color-warning-hover: #F1913D;
    --tant-status-warning-color-warning-active: #C26514;
    --tant-status-warning-color-warning-disable: #F7B79A;
    --tant-status-warning-color-warning-fill: #FDEFEA;
    --tant-status-warning-color-warning-fill-hover: #FDF6F4;
    --tant-status-warning-color-warning-fill-active: #FADACD;
    --tant-status-danger-color-danger-default: #E84D37;
    --tant-status-danger-color-danger-hover: #EB614D;
    --tant-status-danger-color-danger-active: #BA3E2C;
    --tant-status-danger-color-danger-disable: #F1A59F;
    --tant-status-danger-color-danger-fill: #FBEBEA;
    --tant-status-danger-color-danger-fill-hover: #FDF5F4;
    --tant-status-danger-color-danger-fill-active: #F7D1CF;
    --tant-status-info-color-info-default: #1E76F0;
    --tant-status-info-color-info-hover: #3583EF;
    --tant-status-info-color-info-active: #185EC0;
    --tant-status-info-color-info-disable: #99B4F3;
    --tant-status-info-color-info-fill: #EAEEFD;
    --tant-status-info-color-info-fill-hover: #F8FAFE;
    --tant-status-info-color-info-fill-active: #CDD8FA;
    --tant-status-invalid-color-invalid-default: #747C94;
    --tant-status-invalid-color-invalid-hover: #A1A7BB;
    --tant-status-invalid-color-invalid-active: #464762;
    --tant-status-invalid-color-invalid-disable: #DEE1EB;
    --tant-status-invalid-color-invalid-fill: #EBEDF3;
    --tant-status-invalid-color-invalid-fill-hover: #F6F6F9;
    --tant-status-invalid-color-invalid-fill-active: #DEE1EB;
    --tant-medium-shadow-medium-bottom: 0 14px 20px 0 #0a103205,0 20px 40px 0 #0a103208,0 40px 60px 0 #0a10320d;
    --tant-medium-shadow-medium-overall: 0 0 20px 0 #0a103205,0 14px 40px 0 #0a103208,0 20px 60px 0 #0a10320d;
    --tant-medium-shadow-medium-top: 0 -14px 20px 0 #0a103205,0 -20px 40px 0 #0a103208,0 -40px 60px 0 #0a10320d;
    --tant-medium-shadow-medium-left: -14px 0 20px 0 #0a103205,-20px 0 40px 0 #0a103208,-40px 0 60px 0 #0a10320d;
    --tant-medium-shadow-medium-right: 14px 0 20px 0 #0a103205,20px 0 40px 0 #0a103208,40px 0 60px 0 #0a10320d;
    --tant-large-shadow-large-bottom: 0 20px 50px 0 #0a103205,0 30px 90px 0 #0a103208,0 40px 130px 0 #0a10320d;
    --tant-large-shadow-large-overall: 0 0 50px 0 #0a103205,0 20px 90px 0 #0a103208,0 30px 130px 0 #0a10320d;
    --tant-large-shadow-large-top: 0 -20px 50px 0 #0a103205,0 -30px 90px 0 #0a103208,0 -40px 130px 0 #0a10320d;
    --tant-large-shadow-large-left: -20px 0 50px 0 #0a103205,-30px 0 90px 0 #0a103208,-40px 0 130px 0 #0a10320d;
    --tant-large-shadow-large-right: 20px 0 50px 0 #0a103205,30px 0 90px 0 #0a103208,40px 0 130px 0 #0a10320d;
    --tant-hanzi: pingfang sc, "TA-SourceHanSansSC";
    --tant-letter: helvetica neue;
    --tant-number: helvetica neue;
    --tant-font-size-small: 12px;
    --tant-font-size-regular: 14px;
    --tant-font-size-header4: 16px;
    --tant-font-size-header3: 20px;
    --tant-font-size-header2: 28px;
    --tant-font-size-header1: 38px;
    --tant-body-font-body-regular: 400 14px/22px pingfang sc, "TA-SourceHanSansSC";
    --tant-body-font-body-medium: 500 14px/22px pingfang sc, "TA-SourceHanSansSC";
    --tant-description-font-description-regular: 400 12px/20px pingfang sc, "TA-SourceHanSansSC";
    --tant-description-font-description-medium: 500 12px/20px pingfang sc, "TA-SourceHanSansSC";
    --tant-header-font-header5-medium: 500 16px/24px pingfang sc, "TA-SourceHanSansSC";
    --tant-header-font-header5-regular: 400 16px/24px pingfang sc, "TA-SourceHanSansSC";
    --tant-header-font-header4-medium: 500 20px/30px pingfang sc, "TA-SourceHanSansSC";
    --tant-header-font-header3-medium: 500 24px/36px pingfang sc, "TA-SourceHanSansSC";
    --tant-header-font-header2-medium: 500 28px/38px pingfang sc, "TA-SourceHanSansSC";
    --tant-header-font-header1-medium: 500 38px/58px pingfang sc, "TA-SourceHanSansSC";
    --tant-disabled-color-disabled-text: #BDBEBF;
    --tant-disabled-color-disabled-border: #EBEDF3;
    --tant-disabled-color-disabled-bg: #ffffff1a;
    --tant-disabled-color-disabled-fill: #F9F9FB;
    --tant-input-shadow-active-overall: 3px -3px 0 0 #DAE9FB,-3px 3px 0 0 #DAE9FB,-3px -3px 0 0 #DAE9FB,3px 3px 0 0 #DAE9FB;
    --tant-input-shadow-error-active-overall: 3px 3px 0 0 #FFE6E5,-3px -3px 0 0 #FFE6E5,-3px 3px 0 0 #FFE6E5,3px -3px 0 0 #FFE6E5;
    --tant-decorative-blue-color-decorative1-1: #1E76F0;
    --tant-decorative-blue-color-decorative1-2: #3583EF;
    --tant-decorative-blue-color-decorative1-3: #99B4F3;
    --tant-decorative-blue-color-decorative1-4: #EAEEFD;
    --tant-decorative-orange-color-decorative2-1: #F27E19;
    --tant-decorative-orange-color-decorative2-2: #F1913D;
    --tant-decorative-orange-color-decorative2-3: #F7B79A;
    --tant-decorative-orange-color-decorative2-4: #FDEFEA;
    --tant-decorative-orange-color-decorative2-5: #61320A;
    --tant-decorative-cyen-color-decorative3-1: #14C9D6;
    --tant-decorative-cyen-color-decorative3-2: #34CFDA;
    --tant-decorative-cyen-color-decorative3-3: #9ADEE6;
    --tant-decorative-cyen-color-decorative3-4: #EAF7F9;
    --tant-decorative-purple-color-decorative4-1: #915AFF;
    --tant-decorative-purple-color-decorative4-2: #9670FC;
    --tant-decorative-purple-color-decorative4-3: #C0A9FF;
    --tant-decorative-purple-color-decorative4-4: #F1ECFF;
    --tant-decorative-purple-color-decorative4-5: #3A2466;
    --tant-decorative-dblue-color-decorative5-1: #0A1032;
    --tant-decorative-dblue-color-decorative5-2: #B9BECF;
    --tant-decorative-yellow-color-decorative6-1: #F5B400;
    --tant-decorative-yellow-color-decorative6-2: #F2BF32;
    --tant-decorative-yellow-color-decorative6-3: #F9D299;
    --tant-decorative-yellow-color-decorative6-4: #FDF4E9;
    --tant-data-v-multiple1-color-data-multiple1-1: #3080EF;
    --tant-data-v-multiple1-color-data-multiple1-2: #FA9239;
    --tant-data-v-multiple1-color-data-multiple1-3: #374BCD;
    --tant-data-v-multiple1-color-data-multiple1-4: #66D8E2;
    --tant-data-v-multiple1-color-data-multiple1-5: #FFBC04;
    --tant-data-v-multiple1-color-data-multiple1-6: #40AEFF;
    --tant-data-v-multiple1-color-data-multiple1-7: #0A8CA0;
    --tant-data-v-multiple1-color-data-multiple1-8: #FFB676;
    --tant-data-v-multiple1-color-data-multiple1-9: #EE6C59;
    --tant-data-v-multiple1-color-data-multiple1-10: #7856FF;
    --tant-data-v-multiple1-color-data-multiple1-11: #A37AF5;
    --tant-data-v-multiple1-color-data-multiple1-12: #48C6A8;
    --tant-data-v-single1-color-data-single1-1: #217DFF;
    --tant-data-v-function-color-data-function-line: #DEE1EB;
    --tant-data-v-function-color-data-function-tick: #DEE1EB;
    --tant-data-v-function-color-data-function-grid: #EBEDF3;
    --tant-data-v-function-color-data-function-shadow: #0104181a;
    --tant-data-v-function-color-data-function-label2: #A1A7BB;
    --tant-data-v-function-color-data-function-label1: #747C94;
    --tant-data-v-function-color-data-function-legend: #202241;
    --tant-data-v-function-color-data-function-serie-label: #202241;
    --tant-data-v-function-color-data-function-axis-title: #202241;
    --tant-data-v-function-color-data-function-zero-axis: #A1A7BB;
    --tant-data-v-function-color-data-function-axis-pointer: #A1A7BB;
    --tant-data-v-multiple2-color-data-multiple2-1: #4382B6;
    --tant-data-v-multiple2-color-data-multiple2-2: #87D1C8;
    --tant-data-v-multiple2-color-data-multiple2-3: #EE5761;
    --tant-data-v-multiple2-color-data-multiple2-4: #5FBC68;
    --tant-data-v-multiple2-color-data-multiple2-5: #EC8E8D;
    --tant-data-v-multiple2-color-data-multiple2-6: #A27159;
    --tant-data-v-multiple2-color-data-multiple2-7: #BAD418;
    --tant-data-v-multiple2-color-data-multiple2-8: #209490;
    --tant-data-v-multiple2-color-data-multiple2-9: #DFAC70;
    --tant-data-v-multiple2-color-data-multiple2-10: #E36994;
    --tant-data-v-multiple2-color-data-multiple2-11: #F7BA1E;
    --tant-data-v-multiple2-color-data-multiple2-12: #827E7D;
    --tant-data-v-multiple3-color-data-multiple3-1: #134FE1;
    --tant-data-v-multiple3-color-data-multiple3-2: #04DBC0;
    --tant-data-v-multiple3-color-data-multiple3-3: #DB4BFF;
    --tant-data-v-multiple3-color-data-multiple3-4: #FF6914;
    --tant-data-v-multiple3-color-data-multiple3-5: #04AA0A;
    --tant-data-v-multiple3-color-data-multiple3-6: #06D1F5;
    --tant-data-v-multiple3-color-data-multiple3-7: #805350;
    --tant-data-v-multiple3-color-data-multiple3-8: #FFB803;
    --tant-data-v-multiple3-color-data-multiple3-9: #217DFF;
    --tant-data-v-multiple3-color-data-multiple3-10: #48DF2F;
    --tant-data-v-multiple3-color-data-multiple3-11: #CF5015;
    --tant-data-v-multiple3-color-data-multiple3-12: #9720FF;
    --tant-data-v-multiple4-color-data-multiple4-1: #9F79EE;
    --tant-data-v-multiple4-color-data-multiple4-2: #F47774;
    --tant-data-v-multiple4-color-data-multiple4-3: #AED581;
    --tant-data-v-multiple4-color-data-multiple4-4: #4B8BE4;
    --tant-data-v-multiple4-color-data-multiple4-5: #FFAB66;
    --tant-data-v-multiple4-color-data-multiple4-6: #B6A2DE;
    --tant-data-v-multiple4-color-data-multiple4-7: #FFD214;
    --tant-data-v-multiple4-color-data-multiple4-8: #FD90C5;
    --tant-data-v-multiple4-color-data-multiple4-9: #6A9FE9;
    --tant-data-v-multiple4-color-data-multiple4-10: #70BE75;
    --tant-data-v-multiple4-color-data-multiple4-11: #FA9538;
    --tant-data-v-multiple4-color-data-multiple4-12: #2EC7C9;
    --tant-motion-duration-micro-fast: 100ms;
    --tant-motion-duration-micro-moderate: 150ms;
    --tant-motion-duration-micro-slow: 200ms;
    --tant-motion-duration-macro-faster: 250ms;
    --tant-motion-duration-macro-moderate: 300ms;
    --tant-motion-duration-macro-slower: 350ms;
    --tant-motion-duration-extra-slowest: 800ms;
    --tant-motion-easing-standard-linear: 0, 0, 1, 1;
    --tant-motion-easing-standard-ease-in: 0, 0, 0, 1;
    --tant-motion-easing-standard-ease-out: 0.2, 0, 0.8, 0.5;
    --tant-motion-easing-standard-ease-in-out: 0.42, 0, 0.58, 1;
    --tant-motion-easing-emphasized-linear: 0.2, 0, 0, 1;
    --tant-motion-easing-emphasized-ease-in: 0.05, 0.7, 0.1, 1;
    --tant-motion-easing-emphasized-ease-out: 0.3, 0, 0.8, 0.15;
    --tant-motion-easing-emphasized-ease-in-out: 0.6, 0, 0.14, 1;
    --tant-blue-blue-10: #F8FAFE;
    --tant-blue-blue-20: #EAEEFD;
    --tant-blue-blue-30: #CDD8FA;
    --tant-blue-blue-40: #99B4F3;
    --tant-blue-blue-50: #3583EF;
    --tant-blue-blue-60: #1E76F0;
    --tant-blue-blue-70: #185EC0;
    --tant-blue-blue-80: #124790;
    --tant-blue-blue-90: #0C2F60;
    --tant-blue-blue-100: #061830;
    --tant-cyan-cyan-10: #F3FAFB;
    --tant-cyan-cyan-20: #EAF7F9;
    --tant-cyan-cyan-30: #CCEDF1;
    --tant-cyan-cyan-40: #9ADEE6;
    --tant-cyan-cyan-50: #34CFDA;
    --tant-cyan-cyan-60: #14C9D6;
    --tant-cyan-cyan-70: #10A1AB;
    --tant-cyan-cyan-80: #0C7980;
    --tant-cyan-cyan-90: #085056;
    --tant-cyan-cyan-100: #04282B;
    --tant-orange-orange-10: #FDF6F4;
    --tant-orange-orange-20: #FDEFEA;
    --tant-orange-orange-30: #FADACD;
    --tant-orange-orange-40: #F7B79A;
    --tant-orange-orange-50: #F1913D;
    --tant-orange-orange-60: #F27E19;
    --tant-orange-orange-70: #C26514;
    --tant-orange-orange-80: #914C0F;
    --tant-orange-orange-90: #61320A;
    --tant-orange-orange-100: #301905;
    --tant-purple-purple-10: #F7F4FF;
    --tant-purple-purple-20: #F1ECFF;
    --tant-purple-purple-30: #DED3FF;
    --tant-purple-purple-40: #C0A9FF;
    --tant-purple-purple-50: #9670FC;
    --tant-purple-purple-60: #915AFF;
    --tant-purple-purple-70: #7448CC;
    --tant-purple-purple-80: #573699;
    --tant-purple-purple-90: #3A2466;
    --tant-purple-purple-100: #1D1233;
    --tant-green-green-10: #F4FAF7;
    --tant-green-green-20: #E9F6F1;
    --tant-green-green-30: #CCEBDE;
    --tant-green-green-40: #9ADAC1;
    --tant-green-green-50: #28CA9F;
    --tant-green-green-60: #16C294;
    --tant-green-green-70: #129B76;
    --tant-green-green-80: #0D7459;
    --tant-green-green-90: #094E3B;
    --tant-green-green-100: #04271E;
    --tant-yellow-yellow-10: #FEF9F4;
    --tant-yellow-yellow-20: #FDF4E9;
    --tant-yellow-yellow-30: #FBE7CC;
    --tant-yellow-yellow-40: #F9D299;
    --tant-yellow-yellow-50: #F2BF32;
    --tant-yellow-yellow-60: #F5B400;
    --tant-yellow-yellow-70: #C49000;
    --tant-yellow-yellow-80: #936C00;
    --tant-yellow-yellow-90: #624800;
    --tant-yellow-yellow-100: #312400;
    --tant-red-red-10: #FDF5F4;
    --tant-red-red-20: #FBEBEA;
    --tant-red-red-30: #F7D1CF;
    --tant-red-red-40: #F1A59F;
    --tant-red-red-50: #EB614D;
    --tant-red-red-60: #E84D37;
    --tant-red-red-70: #BA3E2C;
    --tant-red-red-80: #8B2E21;
    --tant-red-red-90: #5D1F16;
    --tant-red-red-100: #2E0F0B;
    --tant-dblue-dblue-5: #F9F9FB;
    --tant-dblue-dblue-10: #F6F6F9;
    --tant-dblue-dblue-15: #F2F3F8;
    --tant-dblue-dblue-20: #EBEDF3;
    --tant-dblue-dblue-30: #DEE1EB;
    --tant-dblue-dblue-40: #B9BECF;
    --tant-dblue-dblue-50: #A1A7BB;
    --tant-dblue-dblue-60: #747C94;
    --tant-dblue-dblue-70: #464762;
    --tant-dblue-dblue-80: #202241;
    --tant-dblue-dblue-90: #0A1032;
    --tant-dblue-dblue-100: #000;
    --tant-white-white-10: #ffffff1a;
    --tant-white-white-20: #fff3;
    --tant-white-white-30: #ffffff4d;
    --tant-white-white-40: #fff6;
    --tant-white-white-50: #ffffff80;
    --tant-white-white-60: #fff9;
    --tant-white-white-70: #ffffffb3;
    --tant-white-white-80: #fffc;
    --tant-white-white-90: #ffffffe6;
    --tant-white-white-100: #fff;
    --tant-slate-slate-10: #F3F3F5;
    --tant-slate-slate-20: #E3E4E5;
    --tant-slate-slate-30: #D2D2D4;
    --tant-slate-slate-40: #BDBEBF;
    --tant-slate-slate-50: #9B9C9D;
    --tant-slate-slate-60: #7E7F80;
    --tant-slate-slate-70: #545455;
    --tant-slate-slate-80: #333;
    --tant-slate-slate-90: #212121;
    --tant-slate-slate-100: #020202;
  }